<DOCTYPE html>
<html>
h1{
font-family : comic sans;
colour : blue;
}
h2{ font-family : comic sans;
colour:blue;
p{
font-family:verdana;
}
body{
  background-colour: #https://cdn.pixabay.com/photo/2017/07/29/10/14/background-2551051_960_720.jpg
  }
</html>
